@import "variables";

atom-text-editor::shadow .gutter .line-number {
  &.line-number-green {
    color: #fff;
    background-color: @green-color;
  }

  &.line-number-blue {
    color: #fff;
    background-color: @blue-color;
  }

  &.line-number-red {
    color: #fff;
    background-color: @red-color;
  }
}
