@import "variables";

atom-text-editor .gutter .line-number,
atom-text-editor .gutter .line-number.cursor-line {
  &.line-number-green {
    color: #fff;
    background-color: @green-color;
  }

  &.line-number-blue {
    color: #fff;
    background-color: @blue-color;
  }

  &.line-number-red {
    color: #fff;
    background-color: @red-color;
  }
}
